.container{
    background-color: #1F2937;
    width:auto;
    height: 500px;
    margin:auto;
    padding-left: 15%;
    padding-right: 5%;
}


#header{
    display: flex;
    padding: 8px;color: white;
    justify-content:space-between;
}
#header #links{
    justify-content:space-around;
    display: flex;
    gap: 30px;
    font-size: 30px;
    color: white;
    margin-top: 25px;
}
.next-line #bold{
    font-size: 50px;
    color: white;
    font-weight:bold;

}
.next-line{
    margin-top: 75px;
    color: white;
}
.signup-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #0056b3;
}
.section{
 justify-content: space-between;
 display: flex;
}
.image img {
    width :500px;;
    height: auto;
}
.top-area #info {
    color: black;
    text-align: center;
    font-size:50px;
    font-weight:bold;
    margin-top: 50px;
}
.top-area {
    background-color: #fff;
    height: 500px;
    width: auto;
}
.gallery {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.item {
    text-align: center;
    margin: 0 10px; /* Adjust the margin to control space between items */
}

.item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px; /* Space between the image and the text */
}
a {
    text-decoration: none;}
    .subsection{
        padding-left: 50px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        height: 600px;
        width: auto;
        font-size: 50px;
        text-align:right;
    }